nav.light-blue.lighten-1
    .nav-wrapper.container
        a.brand-logo(href="/")
            i.material-icons cloud
            | Logo
        ul.right.hide-on-med-and-down
            li
                a(href="#")
                    i.material-icons search
            li
                a(href="/login")
                    i.material-icons view_module
            li
                a(href="#")
                    i.material-icons refresh
            li
                a(href="$")
                    i.material-icons more_vert