doctype html
html  
    head
        title This is my first Pug file
        include includes/head.pug
    
    body
        include includes/login.pug
        .container
            header
                p My soon to be menu
            main
                block content
            footer
                | cool footer with lots of copyrights
        include includes/scripts.pug
        block scripts