extends layout

block content
    h1 Login
    form#login(method="POST", action="/users/login")
        #form-group
            label Username:
            input#usernameInput.form-control(name="username",type="text")
        #form-group
            label Password:
            input#passwordInput.form-control(name="password",type="password")
        br
        input.btn.btn-primary(type="submit",value="Submit")
    a(href="/signup") Not registered? Click here!